header{
  width: 100%;
background-color: #1d2475;
height: 4%;
}

ul{
  margin-right: 10%;
}

ul > p{
  margin: 0.5% 1%;
    color: #fff;
    font-weight: bold;
    float: right;
}
ul > p > a{
  text-decoration: none;
      color: #fff;
}
article{
      border-bottom: 1px solid #eaeaea;
}
nav{
  background-color: #fff;
      border: 0;
      box-shadow: none;
      width: 80%;
      margin: auto;
      margin-top: 1%;
      margin-bottom: 1%;
}
nav > *{
  float: left;
}

nav > ul{
  width: 76%;
}
nav > ul > li{
  color: #000;
    font-size: 15pt;
    margin: auto 3%;
    float: right;
}
nav > ul > li:hover{
  cursor: pointer;
}
#logo{
  height: 90%;
      margin-left: 5%;
}
